/* Body style */

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f8f9fa;               
    color: #3c4043;
    margin: 0;
}

.MainTitle h1{
    text-align: center;
}

/* Web1 Banner Image */
.banner-image {
    display: block;
    width: 100%;    
    height: auto;
    border-radius: 15px;
    align-items: center;
}
/*
figure {
    margin: 0px 0;
}

figcaption 
    font-size: 14px;
    color: #64748b;
    margin-top: 8px;
}
*/


/* TopBanner Style */
main {
    max-width: 1000px;
    margin: 5px auto;
    padding: 0;
}

.card {
    background-color: #ffffff;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #dbe2ea;
    border-radius: 10px;
    box-shadow: 0 2px 8px #524545d7;
}

#TopBanner {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: #f7f7f8;
            border-bottom: 1px solid #d6d9e0;
            border-top: 1px solid #d6d9e0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            box-sizing: border-box;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 1000;

        }
/*.Home {
    display: flex;


}*/



.menu-button {
            top: 0px;
            left: 220px;
            width: calc(100% - 240px);
            height: 60px;
            background-color: #f7f7f8;
            border-bottom: 1px solid #d6d9e0;
            display: flex;
            align-items: center;
            margin-left: 0;
            margin-right: auto;
            justify-content: flex-start;
            box-sizing: border-box;
            

        }


        .menu-button a {
            color: rgb(0, 0, 0);
            text-decoration:     none;
            padding: 10px 16px;
            border-radius: 5px;
        }

        .menu-button a:hover,
        .menu-button a:focus-visible {
            background-color: #ffffff;
            color: #adb1b6;
        }


/* ! Every Web Must ! */        
#AvoidTopBannerOverlap {
            padding-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }
  
/*Web1*/        
.whatGW  {
    margin-top: 160px;
    display:flex;

}

#getstarted-btn {
            height: 60px;
            width: 240px;
            background-color: #4aa2eb;
            border-bottom: 1px solid #d6d9e0;
            display: flex;
            align-items: center;
            margin-left: 0;
            margin-right:0;
            justify-content: center;
            box-sizing: border-box;
            border-radius: 20px;
            margin-top: 60px;
            text-decoration: none;
            

        }


        #getstarted-btn a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            padding: 10px 16px;
            border-radius: 5px;
            text-align: center;
        }d

        #getstarted-btn a:hover,
        #getstarted-btn a:focus-visible {
            background-color: #ffffff;
            color: #adb1b6;
            height: 60px;
            width: auto;
        }


/*
.MidPic{
    text-align: center;
}
*/
.words{
    font-size: 18px;
}


/*----------------------------------------------------------------------------*/

#GWTools {
    display: flex;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    gap: 30px;    
    margin-top: 70px;     
}

.ToolLogo {
    align-items: center;
    justify-content: center;
}
.ToolLogo img {
    height: 60px;       
    width: auto;        
    object-fit: contain;
}

.ToolLogo p{
    margin-top:5px;
    text-align: center;
    text-decoration: solid;
}

/*
#web2def{
    display: flex;
}
*/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th{
    border: 1px solid #cbd5e1;
    padding: 12px;
    text-align: left;
    background-color: #4aa2eb;
}

td {
    border: 1px solid #cbd5e1;
    padding: 12px;
    text-align: left;
}

th a{
    text-decoration: none;
    
}

hr{
    border: none;
    height: 1px;
    background-color: #dadce0;
    margin: 24px 0;
}

.detail-Tools-icon img{
    height: 50px;
    width: auto;

}

.detail-Tools-icon {
    height: 60px;
    width: 180px;
    background-color: #a2c0d8;
    border-bottom: 1px solid #d6d9e0;
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right:0;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 60px;
    text-decoration: none;
}

.detail-Tools-icon img{
    height: 50px;
    width: auto;
}

#Iconname{
    text-decoration: none;
    text    ;
}